{% extends "courses/base.html" %}

{% block title %}Delete Question{% endblock %}

{% block heading %}
   <!-- Header Start -->
   <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Delete Question</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                      
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

{% endblock  %}

{% block content %}
<div class="container mt-5">
    <h2>Confirm Delete</h2>
    <p>Are you sure you want to delete the question: "{{ question.question_text }}"?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a href="{% url 'question_list' quiz.course.id quiz.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}